@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200&family=Orbitron:wght@500&display=swap');


.proyectTitle {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: xxx-large;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* .proyectTitle{
        margin-left: -25px;
    }    */
    .containerProyect {
        width: 100px;
        margin: 0;
    }
}