@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200&family=Orbitron:wght@500&display=swap');

.containerAbout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutTxT {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: xxx-large;
}

.imgSize{
    width: 90%;
}

.imgDiv {
    display: flex;
    /* justify-content: flex-end; */
    width: 30%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px;
    border-radius: 1rem;
    align-content: space-around;
    padding-top: 6px;
    /* background-color: antiquewhite; */
}

.icons > i {
    font-size: xx-large;
}

.textDiv {
    width: 60%;
    word-wrap: break-word;
    font-family: 'Krub', sans-serif;
    font-size: large;
    font-weight: bold;
}

.textDiv > p {
    width: 90%;
    
}

.textDiv > h2 {
    width: 50%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .containerAbout{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        align-items: center;
    }
    /* .aboutTxT {
        margin-left: -25px;
    } */

    .imgDiv{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .textDiv{
        display: contents;
    }

    .textDiv > h2 {
        width: 80%;
        text-align: center;
    }

    .textDiv > p {
        width: 80%;
        text-align: center;
    }

    /* .icons {
        margin-right: 1.5rem;
    } */
}