@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200&family=Orbitron:wght@500&display=swap');

.containerForm {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 1rem;
}

.formulario {
    /* display: flex;
    flex-direction: column; */
    width: 60%;
    gap: 1rem;
}

.firstRowForm {
    display: flex;
    justify-content: space-between;
}
  
.formulario__grupo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formulario__grupoR1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 48%;
}
  
.formulario__label {
    font-weight: bold;
}
  
.formulario__input {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
}
  
.formulario__input:focus {
    outline: none;
    border-color: #3F51B5;
    box-shadow: 0px 0px 2px 2px #E3EAF6;
}
  
.formulario__boton {
    background-color: #3F51B5;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.contactTxT {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: xxx-large;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .containerForm {
        width: 100%;
        /* padding-right: 2rem; */
    }
}